@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-field {
  @apply h-10 w-full rounded-md border px-3 transition-all duration-150 focus:ring-2 focus:outline-none;
}

.form-content {
  @apply w-full max-w-md space-y-5 rounded bg-white p-6 shadow-md;
}

.button-primary {
  @apply h-10 w-full rounded-md bg-blue-600 text-white transition-colors duration-150 hover:bg-blue-700;
}

.btn-format {
  @apply h-3 w-3 md:h-5 md:w-5;
}

#container h1,
.prose-editor h1 {
  font-size: 2em;
}

#container h2,
.prose-editor h2 {
  font-size: 1.8em;
}

#container h3,
.prose-editor h3 {
  font-size: 1.6em;
}

#container h4,
.prose-editor h4 {
  font-size: 1.4em;
}

#container h5,
.prose-editor h5 {
  font-size: 1.2em;
}

#container h6,
.prose-editor h6 {
  font-size: 1em;
}

#container p,
.prose-editor p {
  font-size: 1em;
}

#container ul,
.prose-editor ul {
  @apply list-disc pl-4;
}
#container ol,
.prose-editor ol {
  @apply list-decimal pl-4;
}

@layer base {
  #container ol li::marker,
  #container ul li::marker {
    font-size: 0.5em;
    color: currentColor;
  }
}

@layer base {
  .prose-editor ul li::marker,
  .prose-editor ol li::marker {
    font-size: 1em;
    color: currentColor;
  }
}

#icon {
  @apply h-10 w-10 md:h-20 md:w-20;
}

#doc-title {
  @apply text-[7px];
}

.view-height {
  @apply h-[clamp(150px,_20vw,_300px)] w-[clamp(70px,_20vw,_250px)];
}

#container h1,
#container h2,
#container h3,
#container h4,
#container h5,
#container h6,
#container p {
  @apply text-[clamp(3px,_1vw,_5px)];
}
