@import 'tailwindcss';

menu {
  position: sticky;
  top: var(--header-height);
  z-index: 40;
}

:root,
.dark {
  transition:
    background-color 0.2s,
    color 0.2s;
}

@theme {
  --color-page-bg: #ffffff;
  --color-page-text: #1a1a1a;

  --color-surface-bg: #f6f7f9;
  --color-dropdown-bg: #f0f1f5;
  --color-navbar-bg: #1447e6;
  --color-editor-bg: #e5e7eb;
  --color-settings-text: rgb(31, 32, 33);
  --color-hover-bg: rgb(218, 220, 225);
}

.dark {
  --color-page-bg: #0f172a;
  --color-page-text: #f8fafc;

  --color-surface-bg: #111827;
  --color-dropdown-bg: #1a202c;
  --color-navbar-bg: #1c398e;
  --color-editor-bg: #1e2939;
  --color-settings-text: #ffffff;
  --color-hover-bg: #364153;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-page-text);
}

.center-wrapper {
  position: fixed;
  inset: 0;
  margin: auto;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-btn {
  @apply rounded-4xl px-2 py-1 text-xs sm:px-3 sm:py-1.5 md:px-4 md:py-2 md:text-base;
}

.category {
  @apply mb-2 text-sm text-cyan-400 uppercase md:text-base;
}

.prose-editor code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button {
  background-color: var(--color-editor-bg);
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(1.1);
}

.dropdown {
  @apply absolute top-full z-50 mt-2 rounded-md p-1 shadow-md md:p-2;
  background-color: var(--color-dropdown-bg);
  color: var(--color-page-text);
}

.dropdown-right {
  @apply absolute top-10 right-0 z-50 rounded-md p-1;
  background-color: var(--color-dropdown-bg);
  color: var(--color-page-text);
}

.dropdown-child {
  @apply absolute top-0 left-full ml-2 flex w-full flex-col gap-1 rounded-md p-1;
  background-color: var(--color-dropdown-bg);
  color: var(--color-page-text);
}

.parallel {
  @apply flex cursor-pointer items-center gap-1 whitespace-nowrap md:gap-2;
}

.input-field {
  @apply h-10 w-full rounded-md border px-3 transition-all duration-150 focus:ring-2 focus:outline-none;
}

.form-content {
  @apply w-full max-w-md space-y-5 rounded p-6 shadow-md;
  background-color: var(--color-surface-bg);
  color: var(--color-page-text);
}

.button-primary {
  @apply h-10 w-full cursor-pointer rounded-md transition-colors duration-150 hover:bg-blue-700;
  @apply bg-blue-600 text-white;
}

.btn-format {
  @apply h-[clamp(10px,1.2vw,20px)] w-[clamp(10px,1.2vw,20px)];
}

.prose-editor h1 {
  font-size: 2em;
}

.prose-editor h2 {
  font-size: 1.8em;
}

.prose-editor h3 {
  font-size: 1.6em;
}

.prose-editor h4 {
  font-size: 1.4em;
}

.prose-editor h5 {
  font-size: 1.2em;
}

.prose-editor h6 {
  font-size: 1em;
}

.prose-editor p {
  font-size: 1em;
}

.prose-editor a {
  @apply cursor-pointer text-blue-500 underline;
}

.prose-editor .list-disc {
  @apply list-disc pl-2 md:pl-4;
}
.prose-editor ol {
  @apply list-decimal pl-2 md:pl-4;
}
.prose-editor hr {
  @apply my-[1em];
}

.prose-editor pre {
  background: #0a0a0a;
  padding: 1rem;
  border-radius: 8px;
}

#container pre {
  background: #0a0a0a;
  padding: 1em;
  border-radius: 8px;
}

#container pre > code {
  @apply text-[clamp(3px,1vw,8px)];
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  color: white;
}

.prose-editor pre > code {
  font-size: 0.8rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  color: white;
}

.prose-editor p > code {
  display: inline;
  padding: 0.15em 0.35em;
  border-radius: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  font-size: 0.9em;
  background-color: var(--color-page-bg);
  color: var(--color-page-text);
}

@layer base {
  ol li::marker,
  ul li::marker {
    @apply text-[clamp(3px,1vw,5px)];
    color: currentColor;
  }
}

@layer base {
  .prose-editor ul li::marker,
  .prose-editor ol li::marker {
    font-size: 1em;
    color: currentColor;
  }
}

.confirm-modal {
  @apply absolute top-full right-0 z-50 mt-2 flex w-20 flex-col space-y-2 rounded-sm p-2 text-[clamp(7px,1vw,15px)] shadow-md sm:w-30 md:w-40;
  background-color: var(--color-page-bg);
  color: var(--color-page-text);
}

#icon {
  @apply h-10 w-10 md:h-20 md:w-20;
}

.icon {
  @apply h-3 w-3 md:h-5 md:w-5;
}

.view-height {
  @apply h-[clamp(120px,25vw,300px)] w-[clamp(90px,20vw,250px)];
}

.header-size {
  @apply text-[clamp(5px,1vw,10px)];
}

.time-size {
  @apply text-[clamp(3px,1vw,8px)];
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: rgb(229, 192, 127);
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: rgb(204, 151, 103);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: rgb(138, 177, 115);
}

.hljs-title,
.hljs-section {
  color: rgb(97, 175, 236);
}

.hljs-keyword,
.hljs-selector-tag {
  color: rgb(198, 120, 218);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

[data-resize-handle] {
  position: absolute;
  background: rgba(182, 176, 176, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.8);
  border-radius: 2px;
  z-index: 10;
}

[data-resize-handle='top-left'],
[data-resize-handle='top-right'],
[data-resize-handle='bottom-left'],
[data-resize-handle='bottom-right'] {
  width: 8px;
  height: 8px;
}

[data-resize-handle='top'] {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}
[data-resize-handle='bottom'] {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}
[data-resize-handle='left'] {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}
[data-resize-handle='right'] {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}

[data-resize-handle='top'],
[data-resize-handle='bottom'] {
  height: 6px;
  left: 8px;
  right: 8px;
}

[data-resize-handle='top'] {
  top: -3px;
  cursor: ns-resize;
}

[data-resize-handle='bottom'] {
  bottom: -3px;
  cursor: ns-resize;
}

[data-resize-handle='left'],
[data-resize-handle='right'] {
  width: 6px;
  top: 8px;
  bottom: 8px;
}

[data-resize-handle='left'] {
  left: -3px;
  cursor: ew-resize;
}

[data-resize-handle='right'] {
  right: -3px;
  cursor: ew-resize;
}

.prose-editor blockquote {
  border-left: 3px solid rgb(243, 238, 240);
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.prose-editor img {
  @apply h-auto max-w-full rounded-md;
}

.prose-editor table {
  @apply w-auto table-auto border border-gray-200;
}

.prose-editor td,
.prose-editor th {
  @apply border border-gray-200 px-2 py-1;
}
.prose-editor ul[data-type='taskList'] {
  list-style: none;
  margin: 2px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.prose-editor ul[data-type='taskList'] li {
  display: flex;
  align-items: flex-start;
}

.prose-editor ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.prose-editor ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

.prose-editor ul[data-type='taskList'] input[type='checkbox'] {
  cursor: pointer;
}

.prose-editor ul[data-type='taskList'] ul[data-type='taskList'] {
  margin: 0;
}

p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
