@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-field {
  @apply h-10 w-full rounded-md border px-3 transition-all duration-150 focus:ring-2 focus:outline-none;
}

.form-content {
  @apply w-full max-w-md space-y-5 rounded bg-white p-6 shadow-md;
}

.button-primary {
  @apply h-10 w-full rounded-md bg-blue-600 text-white transition-colors duration-150 hover:bg-blue-700;
}

.btn-format {
  @apply h-2 w-2 md:h-4 md:w-4;
}

.prose-editor h1 {
  font-size: 2em;
}

.prose-editor h2 {
  font-size: 1.8em;
}

.prose-editor h3 {
  font-size: 1.6em;
}

.prose-editor h4 {
  font-size: 1.4em;
}

.prose-editor h5 {
  font-size: 1.2em;
}

.prose-editor h6 {
  font-size: 1em;
}

.prose-editor p {
  font-size: 1em;
}

#container ul,
.prose-editor ul {
  @apply list-disc pl-2 md:pl-4;
}
#container ol,
.prose-editor ol {
  @apply list-decimal pl-2 md:pl-4;
}

@layer base {
  #container ol li::marker,
  #container ul li::marker {
    @apply text-[clamp(3px,_1vw,_5px)];
    color: currentColor;
  }
}

@layer base {
  .prose-editor ul li::marker,
  .prose-editor ol li::marker {
    font-size: 1em;
    color: currentColor;
  }
}

.confirm-modal {
  @apply absolute top-full right-0 z-50 mt-2 flex w-[80%] flex-col space-y-2 bg-gray-100 px-2 py-2 text-[clamp(7px,_1vw,_15px)] shadow-md;
}

#icon {
  @apply h-10 w-10 md:h-20 md:w-20;
}

.icon {
  @apply h-[clamp(6px,1.2vw,14px)] w-[clamp(6px,1.2vw,14px)];
}

.view-height {
  @apply h-[clamp(120px,_25vw,_300px)] w-[clamp(90px,_20vw,_250px)];
}

#container h1,
#container h2,
#container h3,
#container h4,
#container h5,
#container h6,
#container p {
  @apply text-[clamp(3px,_1vw,_5px)];
}

.header-size {
  @apply text-[clamp(5px,_1vw,_10px)];
}

.time-size {
  @apply text-[clamp(3px,_1vw,_8px)];
}
